[submodule "libraries/DMD"]
	path = libraries/DMD
	url = git@github.com:AlexSatrapa/DMD.git
[submodule "libraries/DHT"]
	path = libraries/DHT
	url = git@github.com:AlexSatrapa/DHT-sensor-library.git
[submodule "libraries/MAX1704"]
	path = libraries/MAX1704
	url = git@github.com:AlexSatrapa/MAX1704.git
[submodule "libraries/SSC"]
	path = libraries/SSC
	url = git@github.com:AlexSatrapa/SSC.git
[submodule "libraries/DS3234"]
	path = libraries/DS3234
	url = git@github.com:AlexSatrapa/ds3234.git
[submodule "libraries/DS3232"]
	path = libraries/DS3232
	url = git@github.com:AlexSatrapa/DS3232RTC.git
[submodule "libraries/FTRGBLED"]
	path = libraries/FTRGBLED
	url = git@github.com:AlexSatrapa/FTRGBLED.git
[submodule "libraries/Time"]
	path = libraries/Time
	url = git@github.com:AlexSatrapa/Time.git
[submodule "libraries/RTC"]
	path = libraries/DSRTC
	url = git@github.com:AlexSatrapa/DSRTC.git
[submodule "Bubbler"]
	path = Bubbler
	url = git@github.com:AlexSatrapa/Bubbler.git
[submodule "libraries/xbee-arduino"]
	path = libraries/xbee-arduino
	url = git@github.com:AlexSatrapa/xbee-arduino.git
